:root{
    --cor-primaria:#3498db;
    --cor-secundaria:#2c3e50;
    --espacamento:16px;
    }

    /* Reset Simple */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: Arial,sans-serif;
    }

    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--espacamento);
        background:var(--cor-primaria);
        color: white;
    }   

    /*Grid e Cards*/
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:var(--espacamento);
        padding:var(--espacamento);  
    }

    .card{
        background:ghostwhite;
        padding: 20px;
        text-align: center;
    }
/*Formulário*/
.formulario{
    padding: var(--espacamento);
}
.formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    background: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px;
}

.rodape{
    text-align: center;
    padding: 10px;
    background: var(--cor-secundaria);
    color: white;
}

